App/Inventory.Data/obj/project.assets.json
App/Inventory.Data/obj/Inventory.Data.csproj.nuget.g.targets
App/Inventory.Data/obj/Inventory.Data.csproj.nuget.g.props
App/Inventory.Data/obj/Inventory.Data.csproj.nuget.dgspec.json
App/Inventory.Data/obj/Inventory.Data.csproj.nuget.cache
App/Inventory.Data/obj/Debug/netstandard2.0/Inventory.Data.pdb
App/Inventory.Data/obj/Debug/netstandard2.0/Inventory.Data.dll
App/Inventory.Data/obj/Debug/netstandard2.0/Inventory.Data.csprojAssemblyReference.cache
App/Inventory.Data/obj/Debug/netstandard2.0/Inventory.Data.csproj.FileListAbsolute.txt
App/Inventory.Data/obj/Debug/netstandard2.0/Inventory.Data.assets.cache
App/Inventory.Data/obj/Debug/netstandard2.0/Inventory.Data.AssemblyInfoInputs.cache
App/Inventory.Data/obj/Debug/netstandard2.0/Inventory.Data.AssemblyInfo.cs
App/Inventory.Data/bin/Debug/netstandard2.0/Inventory.Data.pdb
App/Inventory.Data/bin/Debug/netstandard2.0/Inventory.Data.dll
App/Inventory.Data/bin/Debug/netstandard2.0/Inventory.Data.deps.json
App/Inventory.Service/obj/Debug/netstandard2.0/Inventory.Service.dll
App/Inventory.Service/obj/Debug/netstandard2.0/Inventory.Service.csprojAssemblyReference.cache
App/Inventory.Service/obj/Debug/netstandard2.0/Inventory.Service.csproj.FileListAbsolute.txt
App/Inventory.Service/obj/Debug/netstandard2.0/Inventory.Service.csproj.CopyComplete
App/Inventory.Service/obj/Debug/netstandard2.0/Inventory.Service.assets.cache
App/Inventory.Service/bin/Debug/netstandard2.0/Inventory.Data.dll
App/Inventory.Model/obj/project.assets.json
App/Inventory.Model/obj/Debug/netstandard2.0/Inventory.Model.AssemblyInfoInputs.cache
App/Inventory.Model/obj/Debug/netstandard2.0/Inventory.Model.AssemblyInfo.cs
App/Inventory.Service/obj/project.assets.json
App/Inventory.Service/obj/Inventory.Service.csproj.nuget.g.targets
App/Inventory.Service/obj/Inventory.Service.csproj.nuget.g.props
App/Inventory.Service/obj/Inventory.Service.csproj.nuget.dgspec.json
App/Inventory.Service/obj/Inventory.Service.csproj.nuget.cache
App/Inventory.Service/obj/Debug/netstandard2.0/Inventory.Service.pdb
App/Inventory.Service/obj/Debug/netstandard2.0/Inventory.Service.AssemblyInfoInputs.cache
App/Inventory.Service/obj/Debug/netstandard2.0/Inventory.Service.AssemblyInfo.cs
App/Inventory.Service/bin/Debug/netstandard2.0/Inventory.Service.pdb
App/Inventory.Service/bin/Debug/netstandard2.0/Inventory.Service.dll
App/Inventory.Service/bin/Debug/netstandard2.0/Inventory.Service.deps.json
App/Inventory.Service/bin/Debug/netstandard2.0/Inventory.Model.pdb
App/Inventory.Service/bin/Debug/netstandard2.0/Inventory.Model.dll
App/Inventory.Service/bin/Debug/netstandard2.0/Inventory.Data.pdb
App/Inventory.Model/obj/Debug/netstandard2.0/Inventory.Model.pdb
App/Inventory.Model/obj/Debug/netstandard2.0/Inventory.Model.dll
App/Inventory.Model/obj/Debug/netstandard2.0/Inventory.Model.csproj.FileListAbsolute.txt
App/Inventory.Model/obj/Debug/netstandard2.0/Inventory.Model.assets.cache
App/Inventory.Model/obj/Inventory.Model.csproj.nuget.g.targets
App/Inventory.Model/obj/Inventory.Model.csproj.nuget.g.props
App/Inventory.Model/obj/Inventory.Model.csproj.nuget.dgspec.json
App/Inventory.Model/obj/Inventory.Model.csproj.nuget.cache
App/Inventory.Model/bin/Debug/netstandard2.0/Inventory.Model.pdb
App/Inventory.Model/bin/Debug/netstandard2.0/Inventory.Model.deps.json
App/Inventory.Model/bin/Debug/netstandard2.0/Inventory.Model.dll
